* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.horizontal_nav {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    background: #134E5E;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #71B280, #134E5E);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #71B280, #134E5E);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.logo {
    width: 25%;
    font-size: 22px;
    /* text-shadow: 2px 2px white; */
}

.logo h1 a {
    text-decoration: none;
    color: black;
}


.nav_items {
    width: 75%;
    display: flex;
}

.nav_items ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav_items ul li {
    padding-left: 50px;
}

button {
    height: 50px;
    padding: 0 15px;
    color: white   ;
    border: 2px solid white;
    border-radius: 20px;
    background: rgb(24, 22, 22);
    font-weight: 780;
}


.vertical_nav {
    height: 500px;
    width: 20%;
    background: #134E5E;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #71B280, #5F9F79);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #71B280, #5F9F79);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    justify-content: center;
    float: left;
}

.vertical_nav_items ul {
    height: 100%;
    width: 100%;
    padding-top: 30px;
    list-style: none;
    /* background-color: black; (to check box size) */
}

.vertical_nav_items ul li a button {
    /* padding-top: 20px; */
    height: 50px;
    width: 100%;
    margin-top: 15px;
}

.main_content {
    width: 80%;
    height: 40px;
    display: flex;
    float: left;
}

.main_content h3 {
    display: flex;
    align-items: center;
    color: #ffcc33;
    margin: 1px;
}

.main_content marquee {
    display: flex;
    align-items: center;
    color: white;
    margin: 1px;
}
.form_table {
    width: 80%;
    height: 40px;
    height: 458px;
    display: inline-block;
}

.news_table_form_1 {
    height: 458px;
    width: 79%;
    float: left;
    
}

.news_table_form_2 {
    height: 458px;
    width: 21%;
    float: left;

}
.news_table_form_2 label{
    margin-left: 15px;
    font-size: 16px;
    font-weight: bold;
}


.news_table_form_2 input{
    text-align: center;
    padding:3px 10px;
    margin-left: 15px;
    font-size: 14px;

}


.news_table_form_2 h3 {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #ffb347;
    font-size: 25px;
}

.news_table_form_1 table {
    width: 100%;
    height: 458px;
    border: 1px solid #62A27A;
    background-color: whitesmoke;
}

.news_table_form_1 table td {
    border: 3px solid #62A27A;
}

.news_table_form_1 table img{
    margin-left: 75px;         
}

.news_table_form_1 table td a {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.news_table_form_2 form {
    width: 100%;
    height: 458px;
    background: linear-gradient(to right, #266265, #17525F);
    /* text-align: center; */
}

#submit {
    height: 40px;
    width: 80px;
    margin-left: 55px;
    margin-top: 50px;
    border: black;
    border-radius: 20px;
    background-color: black;
    color: #ffcc33;
}

/* .breaking_news {
    height: 457px;
    width: 80%;
    margin-left: 268px;
    border: 1px solid black;
}

.breaking_news_1 {
    width: 50%;
    height: 100%;
    border: 1px solid black;
    float: left;
}

.breaking_news_2 {
    width: 50%;
    height: 100%;   
    float: right;
    border: 1px solid black;
    text-align: center;
} */


/* .cards {
    width: 100%;
    height: 400px;
} */
/* .card {
    width: 24%;
    height: 100%;
    float: left;
    padding-left: 1px;
} */

/* .card div iframe {
    width: 100%;
} */

/* .card div span, .contents span {
    color: red;
}  */


.catagories {
    width: 50%;
    float: left;
}

.contents {
    width: 90%;
    margin-left: 20px;
}
.contents p {
    padding: 10px;
}

.info {
    width: 100%;
    height: 358px;
    float: right;
}

.card_1 {
    width: 29%;
    height: 100%;
    background-color: grey;
    margin-left: 2px;
    margin-right: 2px;
    float: left;    
}

.card_1 ul{
    color: black;
}

.card_2 {
    width: 40%;
    height: 100%;
    float: left;
    background-color: grey;
}


.contact_us {
    width: 100%;
    height: 500px;
    margin-top: 20px;
    /* background-color: darkgreen; */
    float: right;
}

.contact_us h1 {
    text-align: center;
}

.contact {
    width: 100%;
    height: 90%;
    /* background-color: #266265; */
    /* border: 1px solid black; */
    float: left;   
}


.contact_1 {
    height: 100%;
    width: 50%;
    padding-top: 20px;
    float: left;
}

.contact_2 {
    width: 50%;
    height: 90%;
    /* border: 1px solid black; */
    /* background-color: #266265; */
    padding-top: 30px;
    float: left;
}

.contact_2 ul {
    margin-left: 25px;
    padding-right: 40px;
}

.contact_2 ul li{
    list-style: none;
}
.contact_2 span {
    color: red; 
} 

.footer {
    width: 100%;
    float: right;
    height: 60px;
    background-color: black;
    color: white;
}

.footer h3 {
    text-align: center;
    margin-top: 16px;
    font-weight: 200;
}